@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

// FONTS & COLORS
$orange-color: #fa9856;
$red-color: #f27370;
$dark-blue: #22559c;
$light-blue: #9eb5d4;
$background-blue: #e5edf1;
$darker-blue: #26589d;
$main-font :  'Karla', sans-serif;
$small-font-title: 32px;
$small-font-description: 20px;


@mixin center {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


// DEFAULT STYLES
* {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.small-box-title {
    font-size: $small-font-title;
    font-weight: bold;
    text-transform: capitalize;
}

.large-box-title {
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    padding: 20px;
}

.medium-box-title{
    font-weight: bold;
    text-align: center;
    // text-transform: capitalize;
    font-size: 40px;
    margin-top: 2rem;
}

.box-description {
    font-size: $small-font-description;
}

h1 {
    color: $orange-color;
    font-size: $small-font-title;
}

h2 {
    color: $dark-blue;
    font-size: 30px;
}

h3 {
    color: $light-blue;
    font-size: $small-font-description;
}


.container-fluid{
    margin:30px;
    margin-top: 50px;
}


.card{
    margin-left:20px;
    margin-right:20px;
    padding:10px;
    height:500px;

    .card-img{
        padding:10px;
        width:100px;
        align-self: center;
        padding-top:15px;
    }

    .card-text{
        justify-content: center;
    }

    .card-title{
        padding-bottom:10px;
        padding-top:10px;
    }

    .card-text{
        text-align:center;
    }
}

.row{
    padding:20px;
}

.img-windmill{
    width: 290px;
}
// HOME

.parent {
    display: flex;
}

.hero-img {
    width: 700px;
}

.right {
    text-align: right;
}

.desc {
    margin-left: 100px;
    margin-top: 130px;
}

.quote {
    @include center();
    margin-bottom: 2rem;

    blockquote::before,
    blockquote::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        opacity: 0.25;
        font-size: 36px;
        color: #22559a;
    }

    blockquote::before {
        content: '\f10d';
        margin-top: -20px;
        margin-left: -30px;
    }

    blockquote::after {
        content: '\f10e';
        margin-top: -10px;
        margin-left: -5px;
    }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  blockquote {
    text-align: left;
  }
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}



header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 1000;
    transition: top 0.3s;
    //overflow: hidden;
    a {
        text-decoration: none;
        color: black;
        transition: 0.2s;
    }

    .collapsible-menu {
        position: fixed;
        display: flex;
        width: 100%;
        top: 30px;
        transition: 0.3s;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);

            .nav-link {
                margin: 0 30px;
                padding: 0;
                font-size: 18px;
                border-bottom: 2px solid rgba($color: $yellow, $alpha: 0.0);
                transition: 0.3s;
                line-height: initial;
                white-space: nowrap;

                &:hover {
                    border-bottom: 2px solid $yellow;
                }
            }

            .nav-item {
                font-size: 18px;
                justify-content: center;
                text-align: center;
                align-items: center !important;
                text-align: left !important;
            }
            
        
        }
    }
}

